<div class="grid">
  <div id="editIcon">
    <img src="../../assets/Edit.svg" class="icon" />
  </div>

  <div id="addressDetailsItem">
    <p>{{ address.firstName }} {{ address.lastName }}</p>
    <p *ngIf="address.company">{{ address.company }}</p>
    <p>{{ address.street }} {{ address.houseNumber }}</p>
    <p>{{ address.postCode }} {{ address.city }}</p>
    <p>
      {{ address.country }}
    </p>
  </div>

  <div id="checkboxContainer">
    <checkbox label="Standard-Lieferadresse"></checkbox>
    <checkbox label="Standard-Rechnungsadresse"></checkbox>
  </div>

  <div>
    <a (click)="onDelete()" id="deleteButton">Adresse löschen</a>
  </div>
</div>
